.btn-menu {
    color: azure;
    padding: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    width: 5%;
    height: 5vh;
    margin-left: 80%;
    margin-top: 3%;
}



/* .contenedor {
    display: inline-block;
    margin-right: 80px;
    position: absolute;
    margin: 20px;
    width: auto;
    float: right;
  } */

#check {
    display: none;
  }

  #check:checked ~ .desplegable {
    width: 400px;
    background: rgba(240, 15, 15, 0.897);
  
  }  

.desplegable {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 50%;
}

.desplegable a {
  


    list-style: none;
  padding: 5%;
  /* color: black; */
  cursor: pointer;
  transition: all 300ms;
  display: block;
  width: 300%;

  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Merriweather', serif;
}



